/* your code */
#table thead{
	background-color: aqua;
}
#table {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
#table th, td {
	padding: 5px;
	border-collapse: collapse;
	text-align: center;
}
#table tr:nth-child(even) {
	background-color: grey;
}